body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.error-container {
    text-align: center;
    margin-top: 100px;
}
.error-container h1 {
    font-size: 5em;
    margin-bottom: 10px;
}

.error-container p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.error-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.error-container a:hover {
    background-color: #0056b3;
}
